/* Styles for the navigation bar */
.navbar-brand {
	font-weight: bold;
}
.navbar-nav .nav-item .nav-link {
	color: #333;
	font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover {
	color: #666;
}

/* Styles for the main content */
.container {
	margin-top: 50px;
}

/* Styles for the footer */
footer {
	background-color: #ddd;
	padding: 20px 0;
}