<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
	{% extends "layout.html" %}
  {% block head %}
  {{ super() }}
	<!-- Main content -->
	<div class="container">
		<h1>Welcome to My Website</h1>
		{% endblock %}
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non ante vel ante ullamcorper lacinia. Integer eget congue turpis. Integer a dolor nec elit gravida bibendum. Aenean consectetur odio at turpis bibendum, vel iaculis quam facilisis. Sed a orci quis est bibendum tincidunt. Sed tincidunt, ante ac sollicitudin aliquam, quam nisi facilisis dolor, vel molestie nunc lectus in orci. Curabitur volutpat condimentum magna, at ultrices quam dignissim vel. Integer eget tincidunt quam. Ut et nisl vel velit egestas tincidunt.</p>
		{% block myContent %}
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<img src="https://fakeimg.pl/350x200/" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a href="#" class="btn btn-primary"><i class="fas fa-link"></i> Learn more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="https://fakeimg.pl/350x200/" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a href="#" class="btn btn-primary"><i class="fas fa-link"></i> Learn more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img src="https://fakeimg.pl/350x200/" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a href="#" class="btn btn-primary"><i class="fas fa-link"></i> Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		{% endblock myContent %}
		</body> 
		</html> 
		
	
		